<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component
        Id="LyricRailVolumeBrokerComponent"
        Guid="231afb32-76f8-4bca-85b6-d6961999771f"
        Win64="yes">
        <File
          Id="LyricRailVolumeBrokerFile"
          Source="$(sys.SOURCEFILEDIR)payload\lyricrail-volume-broker.exe"
          KeyPath="yes"
          Checksum="yes" />
        <ServiceInstall
          Id="LyricRailVolumeBrokerInstall"
          Name="LyricRailVolumeBroker"
          DisplayName="LyricRail Volume Broker"
          Description="Read-only, authenticated BitLocker status broker for LyricRail Studio."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem"
          Interactive="no"
          Vital="yes" />
        <ServiceControl
          Id="LyricRailVolumeBrokerControl"
          Name="LyricRailVolumeBroker"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
